* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black; }

body {
  background-color: rgb(215, 224, 236);
}
input {
    color: fieldtext;
    text-rendering: auto;
    outline: none;
    background-color: rgb(215, 224, 236);;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
button {
  background-color: initial;
  background-image: none;
  cursor: pointer;
}


.containerNavbar {
  background-color: #91b7dd !important;
}
.containerNavbar a {
  font-size: 30px;
  margin: 15px;
}
.botonCategorias {
  background-color: rgb(52, 94, 218) !important;
}


.boton {
  border: 2px solid black;
  font-size: 40px;
  background-color: rgb(5, 231, 156);
  cursor: pointer;
  margin: 15px;
  padding: 10px;
}

.logo {
  width: 120px;
  margin: 20px;
}
.ContainerProd {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.ContainerProd img{
  width: 80%;
  height: auto;
  object-fit: cover;
  vertical-align: middle;
  align-self: center;
}
.card {
  width: 80%;
  height: auto;
  justify-content: center;
}
.cards {
  height: 5rem;
  width: 5rem;
}

.cardContainer {
  display: flex !important;
  flex-direction: column;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  padding: 1rem 0 !important;
}
.containerItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2.5rem;
}
.imagenProducto {
  width: 80%;
  
}
.containerInformacion {
  width: 50%;
  margin-top: 1.25rem;
}
.containerInformacion p {
  font-size: 20px;
}
.botonCategorias {
  background-color: rgb(52, 94, 218);
}
.containerCarrito {
  background-color: rgb(215, 224, 236);
};


.descripcion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 23px;
}
.containerCantidad {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.containerCantidad input {
  width: 50px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  border: none;
}
.botonAgregar {
  margin-top: 2.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  border: none;
}

.cartBody {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  column-gap: 0.6rem;
  border-bottom: 1px solid #8a8787;
}
.imgBody {
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
}
.imgBody img {
  width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: middle;
}
.priceBody {
  margin-left: auto;
}
.containerCart {
  display: grid;
  row-gap: 1.25rem;
};

.subtotal {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.botonEliminar {
  font-size: .9rem;
  line-height: 1.25rem;
  cursor: pointer;
}
.signo {
  cursor: pointer;
}
.containerCheckout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.25rem;
  padding: 3rem 5rem;
}
.containerInputs {
  display: grid;
  row-gap: 2.25rem;

}
.nombreApellido {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.25rem;
}
.inputCheckout {
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border: 1px solid #8a8787;
  border-radius: 0.25rem;
}
.containerBotonComprar {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
}

.botonComprar {
  font-size: 1.25rem;
  line-height: 1.75rem;
  border: none;
  background-color: rgb(52, 94, 218);
  cursor: pointer;
  padding: 12px 50px;
  color: white;
}

.containerFooter {
  margin-top: 5rem;
  padding-top: 1rem;
  border-top: 1px solid #8a8787;
}
.form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3.25rem;
}

.pedido {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.25rem;
  padding: 0 5rem;
}
.containerOrder {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  /* margin-top: 1rem; */
}

.itemDetail {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #8a8787;
}
.imgDetail {
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
}
.imgDetail img{
  width: 80%;
  height: auto;
  object-fit: cover;
  vertical-align: middle;
}
.titleItemDetail {
  width: 80%;
}
.totalDetail {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}

.priceDetail {
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: 1px solid #8a8787;
}
.priceItemDetail {
 display: flex;
}
.priceItemDetail p {
  align-self: flex-end;
}

.titleItemDetail {
  margin: 0 .5rem;
}

.containerPriceDetail {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1.75rem;
}

.errorTrue {
  color: red;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.75rem;
}
.errorFalse {
  color: red;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.75rem;
  display: none;
}
.btnCheckout {
  font-size: 1.25rem;
  line-height: 1.75rem;
  border: none;
  background-color: rgb(52, 94, 218);
  cursor: pointer;
  padding: 12px 50px;
}
.btnCheckout:hover {
  background-color: #91b7dd
}

.containerCheckoutFinish {
  display: flex;
  justify-content: center;
  align-items: center;  
}
.containerPedidoFinish {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  padding: 0 1rem;
  border: 1px solid #8a8787;
}

.misPedidosContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 5rem;
  row-gap: 2rem;
}

.containerInputPedidos {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.mostrarDetalleMisPedidosFalse {
  display: none;
}
.totalDetailMisPedidos {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.25rem;
  padding: 0 5rem;
}
.inputMisPedidos {
  display: flex;
  align-items: center;
}

.inputMisPedidos input {
  width: 100%;
  height: 1.5rem;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border: 1px solid #8a8787;
  border-radius: 0.25rem;
  margin-right: .5rem;
}

.botonMisPedidos {
  font-size: 1.25rem;
  line-height: 1.75rem;
  border: none;
  background-color: rgb(52, 94, 218);
  cursor: pointer;
  padding: .2rem 1rem;
  color: white;
}
.botonMisPedidos:hover {
  background-color: #91b7dd
}

#tituloMisPedidos {
  align-self: center;
}

